*{
    margin:auto;
}
#head_top{
    text-align: center;
}
table{
    border : 2px solid;
    border-collapse: collapse;
    text-align: center;
}
table th,td{
    border : 0.5px solid;
    padding : 3px;
}

#th{
    background-color:green
    
}
#tb{
    background-color:greenyellow;
}
#tf{
    background-color:green;
}
.tableFront{
    display:flex;
}
.year{
    font-weight:700;
}
.one{
    color : orangered;
}
.two{
    color : rgb(255, 38, 0);
}
.thr{
    color : rgb(255, 0, 0);
}
.selected {
    background-color: #cce5ff;
}